.modalOverplay {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    inset: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
}

.moadlBox {
    display: flex;
    width: 100%;
    max-width: 493px;
    // max-height: 418px;
    max-height: 504px;
    height: 100%;
    flex-direction: column;
    border-radius: 4px;
    background: var( --color-Box);
    box-shadow: 0px 4px 40px -10px rgba(0, 0, 0, 0.25);
}

.div1 {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 23px 32px;
    background-color: var(--color-input);
    border-radius: 4px 4px 0px 0px;

    p {
        color: var(--color-LogiLabel);
        font-family: var(--font-primary);
        font-size: 15px;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: 0.5px;
    }

    button {
        color: var(--color-NBtn);
        font-size: 16px;
        font-weight: 600;
        line-height: 26px;
    }
}
.form{
    display: flex;
    flex-direction: column;
    gap: 26px;
    padding: 43px 32px;

    &>select {
        display: flex;
        width: 100%;
        height: 48px;
        padding: 0px 16.243px;
        align-items: center;
        gap: 10.152px;
        border-radius: 4px;
        background: var(--color-input);
        font-size: 16.243px;
        font-weight: 400;
        line-height: 26.394px;
        color: var(--color-NBtn);

        &:focus {
            color: var(--color-LogiLabel);
            border: 1.218px solid var(--color-LogiLabel);
        }
    }
}