.form {
    display: flex;
    flex-direction: column;
    padding: 0px 22px;
    gap: 25px;
    width: 100%;

    &>p {
        color: var(--color-btnRosa);
        font-family: var(--font-primary);
        font-weight: 400;
        font-size: 13px;
        position: relative;
        top: -15px;
    }

    &>select {
        display: flex;
        width: 100%;
        height: 48px;
        padding: 0px 16.243px;
        align-items: center;
        gap: 10.152px;
        border-radius: 4px;
        background: var(--color-input);
        font-size: 16.243px;
        font-weight: 400;
        line-height: 26.394px;
        color: var(--color-NBtn);

        &:focus {
            color: var(--color-LogiLabel);
            border: 1.218px solid var(--color-LogiLabel);
        }
    }

    @media (max-width:420px) {
        width: 100%;
        padding: 10px 10px;
    }
}