.sec {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 30px;
    padding: 0px 159px;
    justify-content: center;
    margin-bottom: 31px;
    
    &>p {
        font-family: var(--font-primary);
        color: var(--color-LogiLabel);
        font-size: 12.182px;
        font-weight: 400;
        line-height: 20px;
    }

    @media (max-width:700px) {
        padding: 26px 5px;

        &>p {
            display: flex !important;
            flex-direction: row !important;
            flex-wrap: wrap !important;
            word-break: break-all !important;
        }
    }
}

.div {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-top: 19px;
}

.ul {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: var(--color-Box);
    display: flex;
    flex-direction: column;
    padding: 23px 26px;
    gap: 16px;

    @media (max-width:700px) {
        padding: 26px 5px;
    }
}