.sec {
    border-top: 2px solid rgba(134, 142, 150, 0.3215686275);
    border-bottom: 2px solid rgba(134, 142, 150, 0.3215686275);
    width: 100%;
    height: 118px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 159px;

    @media (max-width:700px) {
        // background-color: aqua;
        padding: 26px 5px;
    }

    @media (max-width:400px) {
        flex-direction: column;
        align-items: flex-start;
    }
}