.div {
    display: flex;
    padding: 26px 33px;
    height: 476px;
    width: 401px;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    border-radius: 4px;
    background-color: var(--color-Box);
    box-shadow: 0px 4px 40px -10px rgba(0, 0, 0, 0.25);

    &>a{
        width: 100%;
    }
    @media (max-width:420px) {
        width: 100%;
        padding: 10px 10px;
    }

}